.title-header {
  background-image: url("../assets/inicio/inicio-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ul > a.active {
  border-bottom-color: #013613;
  color: #013613;
}
