@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("../assets/inicio/inicio-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.rings {
  position: relative;
  /* width: 500px;
  height: 500px; */
  width: 375px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border-color: white;
}

.login {
  position: absolute;
  top: 50px;
  width: 300px;
  /* height: 100%; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.login h2 {
  font-size: 2em;
  color: #013613;
  -webkit-text-stroke: 1.5px #013613;
}
.login .inputBx {
  position: relative;
  width: 100%;
}
.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  /* border: 2px solid #fff;
  border-radius: 40px; */
  font-size: 1.2em;
  color: #013613;
  /* background-color: black; */
  background-color: #e6fcef;
  border: 2px solid #013613;
  box-shadow: none;
  outline: none;
}
.login .inputBx input:focus {
  background: linear-gradient(45deg, #c7edd6, #90e8b2);
}
.login .inputBx input[type="submit"] {
  width: 100%;
  color: #013613;
  /* background: linear-gradient(45deg, #ff357a, #fff172); */
  background: linear-gradient(45deg, #c7edd6, #118c40);
  /* border: none; */
  border: 0.25px solid #013613;
  cursor: pointer;
}
.login .inputBx input::placeholder {
  /* color: rgb(255, 255, 255); */
  color: #013613;
}

.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 3px;
}
.login .links a {
  color: #013613;
  text-decoration: none;
}

.no-account {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.login .no-account a {
  color: #013613;
  text-decoration: none;
}

.login .no-account a,
.login .links a {
  border: 0.25px solid #013613;
  /* background-color: rgba(1, 54, 19, 0.3); */
}

.fondo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;

  background-image: url("../assets/inicio/inicio-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
}
